*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #f5f3ec;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #444444;
}
/* Nav Bar */
.nav--bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 4rem;
}

.nav--bar a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.25rem;
  justify-content: end;
  transition: 0.25s;
  color: #444444;
}

.nav--bar a:hover {
  font-size: 1.35rem;
}

.nav--pages {
  display: flex;
  flex-direction: row;
}

/* Logo */

.logo {
  font-size: 1.4rem;
}
.logo--1 {
  margin: 0;
}
.logo--2 {
  margin: 0 0 0 0.5rem;
}
.logo--3 {
  margin: 0 0 0 2rem;
}
.logo a {
  text-decoration: none;
  color: #444444;
}
/* content */

.content--container {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
}

.content h1 {
  display: inline-block;
  margin: 1rem 0;
  font-size: 3rem;
}
.think {
  letter-spacing: 1px;
}

.different {
  letter-spacing: 10px;
}
