html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #f5f3ec;
  color: #444444;
  margin: 0;
}

.container h2,
h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}

p,
ul {
  margin: 0 3rem;
  text-align: left;
  line-height: 30px;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}
.container p,
.container h2,
.container h3,
.container ul {
  padding-bottom: 1.5rem;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 764px) {
  h2,
  h3 {
    margin: 1 0 auto auto;
  }
  p,
  ul {
    max-width: 60ch;
    margin: 0 auto;
  }
}

/* Nav Bar */
.nav--bar {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 4rem;
  white-space: 2;
}

.nav--bar a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.25rem;
  color: #444444;
  justify-content: end;
  transition: 0.25s;
}

.nav--bar a:hover {
  font-size: 1.35rem;
}

.nav--pages {
  display: flex;
  flex-direction: row;
}

/* Logo */

.logo {
  font-size: 1.4rem;
}
.logo--1 {
  margin: 0;
}
.logo--2 {
  margin: 0 0 0 0.5rem;
}
.logo--3 {
  margin: 0 0 0 2rem;
}
.logo a {
  text-decoration: none;
  color: #444444;
}

/*To top of screen */

.container--to--top {
  display: flex;
  justify-content: center;
}

.to--top {
  display: inline-block;
  margin-bottom: 2rem;
}

.to--top a {
  text-decoration: none;
  color: #444444;
  text-align: center;
}

.to--top p {
  font-size: 2.5rem;
  font-weight: 700;
  transition: 0.25s;
}

.to--top p:hover {
  font-size: 2.75rem;
}
