html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #f5f3ec;
  color: #444444;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/* Content */
.container h2,
.container h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}

p,
ul {
  margin: 0 3rem;
  text-align: left;
  line-height: 30px;
  font-size: 1.8rem;
}
.container p,
.container h2,
.container h3,
.container ul {
  padding-bottom: 1.5rem;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 764px) {
  .container h2,
  .container h3 {
    margin: 1 0 auto auto;
  }
  p,
  ul {
    max-width: 60ch;
    margin: 0 auto;
  }
}

/* Nav Bar */
.nav--bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
  align-items: center;
  transition: 0.25s;
}

.nav--bar a {
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.25rem;
  justify-content: center;

  color: #444444;
}
.nav--bar a h2 {
  transition: 0.25s;
}

.nav--bar a h2:hover {
  font-size: 2rem;
}

.nav--pages {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 764px) {
  .nav--bar {
    margin: 1rem 4rem;
  }
}

/* Logo */

.logo--1 {
  margin: 0;
}
.logo--2 {
  margin: 0 0 0 0.5rem;
}
.logo--3 {
  margin: 0 0 0 2rem;
}
.logo a {
  text-decoration: none;
  color: #444444;
}
.logo h1 {
  font-size: 2rem;
}

/*To top of screen */

.container--to--top {
  display: flex;
  justify-content: center;
}

.to--top {
  display: inline-block;
  margin-bottom: 2rem;
}

.to--top a {
  text-decoration: none;
  color: #444444;
  text-align: center;
}

.to--top p {
  font-size: 2.5rem;
  font-weight: 700;
  transition: 0.25s;
}

.to--top p:hover {
  font-size: 2.75rem;
}

/* Newsletter Popup*/
form .title {
  margin: 2rem auto 2rem 2rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.25s;
}
.title i:hover {
  cursor: pointer;
}

.outside--flex {
  display: flex;
  justify-content: center;
}

.newsletter--container {
  display: none;
  justify-content: center;
  position: absolute;
  z-index: 2000;
}
.newsletter {
  position: fixed;
  top: 20rem;
  box-shadow: 5px 5px 0px 0px #444444c7, 10px 10px 0px 0px #44444467,
    15px 15px 0px 0px #4444446c, 20px 20px 0px 0px #44444431,
    25px 25px 0px 0px #44444407, 0px 0px 5px 5px rgba(68, 68, 68, 0);
  border-radius: 10px;
  background-color: #ebe6d7;
  transition: 0.25s;
}

.email--box {
  transition: 0.25s;
  display: flex;
  padding: 0 3rem 3rem 3rem;
}

.email--box input[type="email"] {
  background-color: #ebe6d7;
  outline: none;
  border: none;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  color: #444444;
  font-size: 1.75rem;
  transition: 0.25s;
  width: 17.5rem;
}

.email--box button {
  border: 3px solid #f5f3ec;
  background-color: #ebe6d7;
  outline: none;
  border-radius: 15px;
  color: #797979;
  font-size: 1.75rem;
  font-family: "Raleway", sans-serif;
  padding: 0.25rem 1rem;
  transition: 0.25s;
}

.email--box button:hover {
  transform: scale(1.1);
  background-color: #f5f3ec;
  cursor: pointer;
}

.email--box i {
  transition: 0.25s;
}

.newsletter--close {
  display: flex;
  justify-content: end;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
button {
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 764px) {
  /* Newsletter Popup*/
  .newsletter {
    transform: scale(1.3);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
.title i:hover {
  cursor: pointer;
}

.outside--flex {
  display: flex;
  justify-content: center;
}

.newsletter--container {
  display: none;
  justify-content: center;
  position: absolute;
}
.newsletter {
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 0px 0px 5px 5px rgba(68, 68, 68, 0);
  box-shadow: 5px 5px 0px 0px #444444c7, 10px 10px 0px 0px #44444467,
    15px 15px 0px 0px #4444446c, 20px 20px 0px 0px #44444431,
    25px 25px 0px 0px #44444407, 0px 0px 5px 5px rgba(68, 68, 68, 0);
  border-radius: 10px;
  background-color: #ebe6d7;
}

.email--box {
  padding: 1rem 2rem 2rem 3rem;
  transition: 0.25s;
}

.email--box input[type="email"] {
  background-color: #ebe6d7;
  outline: none;
  border: none;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0.5rem 2rem 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #444444;
  font-size: 1.5rem;
}

.email--box button {
  border: 3px solid #f5f3ec;
  background-color: #ebe6d7;
  outline: none;
  border-radius: 15px;
  color: #797979;
  font-size: 2rem;
  padding: 0.25rem 2rem;
  transition: 0.25s;
}

.email--box button:hover {
  transform: scale(1.1);
  background-color: #f5f3ec;
  cursor: pointer;
}

.email--box i {
  transition: 0.25s;
}

.newsletter--close {
  display: flex;
  justify-content: end;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
button {
  font-family: "Raleway", sans-serif;
}
